@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

* {
	padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
text-decoration: none;

}

body {
	background: url(truc22.jpg);
	font-family: arial;
height: 100vh;
background-size: cover;
background-repeat: repeat;
	transition: all 5s ease;

}

body.hack{

	background-color: black;
	background-image: none;
}

body.nop {

	background-image: none;

}

body.nop.all {

	font-family: Georgia, serif;
	background-image: none;
}



body.active {
	background: url(truc23.jpg);
	background-size: 250vh;
	

}



.nav-list {
padding: 1rem 0 ;
display: flex;
justify-content: flex-end;
	transition: all 1s ease;
align-items: center;

}

.nav-list.fin {
	opacity: 0;
	font-size: 0px;

}

.nav-item {

	margin-right: 2rem;
	text-transform: uppercase;
	font-weight: 600;
	transition: all 5s ease;

}

.nav-item.active{

	color: white;
}

.nav-item a {
	color: white;
	letter-spacing: 1.2px;
}

.nav-item:first-child {

margin-right: auto;
margin-left: 2rem;

}

main {

margin-left: 5rem;
margin-top: 5rem;
margin-right: 2rem;

}

.tg1.fini {

font-size: 0px;
opacity: 0;


}

.Console {

	font-family: arial;
	color: white;
}

.ConsoleT {

	font-family: arial;
	color: white;
}

.tg2.fini {
transition: all 1s ease;
color: green;


}

.tg2.non {
transition: all 1s ease;
	color: red;
}

.tg1 {

font-size: 30px;
text-decoration: underline;
animation: slidedown 1.5s;
transition: all 1s ease;

}

.tg2 {

	font-size: 20px;
	animation: slidedown 1.5s;
	transition: all 5s ease;
}

.tg3 {
	font-size: 25px;
	text-decoration: underline;
	animation: slidedown 1.5s;
}

.ending {
	font-size: 25px;
	animation: slidedown 1.5s;

}

.tg5 {


	margin-top: 7rem;
	text-align: center;
}

.tg6 {
  animation: slidedown 1.5s;
	font-size: 35px;
	text-decoration: underline;

}

@keyframes slidedown {

   from {
transform: translateY(-200px);
opacity: 0;

   }
 to {

 	transform: translateY(0);
opacity: 1;



 }




}


.oce1 {
 font-family: arial;

}


.oce2 {
margin-left: 5rem;
	font-size: 35px;
	text-decoration: underline;
	animation: slidedown 1.5s;
}

.oce3 {
margin-left: 5rem;
	font-size: 25px;
	animation: slidedown 1.5s;
}

.uit {
	color: white;
	text-decoration: none;
	font-size: 15px;
	background-color: black;
	border: none;
	padding: 15px;
	display: inline-block;
	margin: 4px 2px;
	border-radius: 1rem;
	text-align: center;
	margin-left: 5rem;
	animation: slidedown 1.5s;
}




.pute {

animation: slidedown 1.5s;
	background-color: #3E065F;
	font-size: 25px;
	display: inline-block;
	border-radius: 5px 5px;
	margin-left: 1rem;
text-decoration: none;
color: black;

}

.btn {

	width: 250px;
	height: 60px;
	border: 4px solid #3E065F;
	font-size: 20px;
	font-weight: bold;
	color: #3E065F;
	transition: .4s linear;
	background: none;
;
}

.btn:hover  {


	border: 7px solid #FF0000;
	background: #49FF00;
	letter-spacing: 2px;
}

#icon {
	letter-spacing: 5px;

	font-size: 20px;
}

.Testt:hover {
	letter-spacing: 5px;

}

.Testt {
	transition: .4s linear;
}



#blood {

		transition: .4s linear;
}

#blood:hover {
	letter-spacing: 5px;

}

#love {
	transition: .4s ;



}

#love:hover {

	letter-spacing: 5px;


}

.exper {
	opacity: 0;
	transition: .4s linear;
}

.exper:hover {
	opacity: 1;
}

.demoDate {

	font-size: 50px;
	text-align: center;
	margin-top: 8rem;
font-family: 'Staatliches', cursive;
	 	color: green;
	 	letter-spacing: 15px;
	 	animation: slidedown 1.5s;
	 	transition: all 1s ease;
	 	text-shadow: 2px 2px black;
	 	font-size: 7em;
}

body.active {

	background-image: url(truc23.jpg);
	transition: all 1s ease;
	background-size: 200vh;
	background-repeat: no-repeat;
	background-color: black;
}


.demoDate.fini {


	opacity: 0;
	font-size: 0px;
}

.tg1.active {

	color: white;
}

.tg2.active {

	color: white;
}

.demoDate.gag {

	color: red;
}

body.activio {


	background-image: url(portal5.jpg);
}

button {

	size: 50px;
	font-size: arial;

}

.tg1.oe {

	text-decoration: none;
	color: green;
}

.tg1.oa {

	text-decoration: none;
	color: red;
}

.trottoir {

	font-family: arial;
	font-size: 25px;
	font-weight: 600;
	border: solid;
	border-radius: 5px;
	border-width: 5px;
	margin-left: 35rem;
	transition: 1s ease;

}

.trottoir:hover {

	color: white;
	border-color: white;
	transition: 1s ease;
}

body.junior {

background-image: url(portal3.jpg);
transition: all 1s ease;

}

#invisible {

	opacity: 0;
}